<h1><%= @restaurant.name %></h1>

<ul>
  <li>Name: <%= @restaurant.name %></li>
  <li>Adress: <%= @restaurant.address %></li>
  <li>Category: <%= @restaurant.category %></li>
</ul>
<br>
<div>
  <h4>Reviews</h4>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li><%= review.content %> - <%= review.rating %> stars</li>
    <% end %>
  </ul>
</div>

<%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>
<br>
<%= link_to 'Back to the restaurants', restaurants_path %>
